<ion-header>
  <ion-toolbar>
    <ion-title>
      Browse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Browse
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>Hot Tracks</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    <ion-item *ngFor="let track of hotTracks">
      <ion-thumbnail slot="start">
        <img [src]="track.img"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ track.title }}</h2>
        <p>{{ track.artist }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>New Music</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let track of newTracks" size="6" class="new-music">
          <img [src]="track.img"/>
          <ion-item lines="none">
            <ion-label>
              <h2>{{ track.title }}</h2>
              <p>{{ track.artist }}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
